.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 3.2rem;
  padding: 2rem;
  border: 2px solid grey;
  border-radius: 0.7rem;
  box-shadow: 0 0 1.6rem grey;
}

.info-phone {
  .phone-img {
    height: 60%;
    width: 80%;
    border-bottom: 1px solid lightgray;
  }
  p {
    font-size: 1.4rem;
  }
}

.info-phone-title {
  p {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.details-phone {
  font-size: 1.4rem;
}

.form-control {
  font-size: 1.6rem;
  p:first-child {
    font-weight: bold;
  }
}

.buttons {
  padding: 0 2rem;
}

.addBtn {
  cursor: pointer;
  margin-top: 2rem;
  border: none;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.backBtn {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid black;
  a {
    text-decoration: none;
    color: black;
  }
}
